#files being edited
*~

# make and build files
*.lst
*.o
*.out
*.exe
*.eep
*.lss
*.map
*.sym

# Ignore cmake build files
build/
bin/
external/

# Ignore windows files for the system
*.ini

# Ignore Gnu tag files
GPATH
GRTAGS
GTAGS