#files being edited
*~

# make and build files
*.lst
*.o
*.out
*.exe
*.eep
*.lss
*.map
*.sym

# Ignore cmake build files
build/
bin/
external/

# Ignore windows files for the system
*.ini

# Ignore Gnu tag files
GPATH
GRTAGS
GTAGS

# Ignored Qt files
*.pro.user

# Ignore java class files
*.Class

# Ignore Qt build dirs
build-QtVisualize-Desktop_Qt_5_9_1_MSVC2015_64bit-Debug/
build-QtVisualize-Desktop_Qt_5_9_2_MSVC2017_64bit-Debug/
build-linechart-Desktop_Qt_5_9_1_MSVC2015_64bit-Debug/
build-linechart-Desktop_Qt_5_9_2_MSVC2017_64bit-Debug/

# Ignore python binaries
*.pyc