<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8"/>
		<title> Tables </title>
	</head>
	<body>
		<table style="width:100%">
			<thead>
				<tr>
					<th>Country</th>
					<th>Date Created</th>
					<th>Display Name</th>
					<th>Favourites Count</th>
					<th>Followers Count</th>
					<th>friends_count</th>
					<th>Location of Tweet</th>
					<th>message</th>
					<th>Profile Address</th>
					<th>retweet_count</th>
					<th>Source of Tweet</th>
					<th>Summary</th>
					<th>Text Id</th>
				</tr>
				<tr>
					<td>{{  country  }}</td>
					<td>{{  date  }}</td>
					<td>{{  name  }}</td>
					<td>{{  fav_count  }}</td>
					<td>{{  follow_count  }}</td>
					<td>{{  freinds_count  }}</td>
					<td>{{  location  }}</td>
					<td>{{  message  }}</td>
					<td>{{  address  }}</td>
					<td>{{  retweets  }}</td>
					<td>{{  source  }}</td>
					<td>{{  summary  }}</td>
					<td>{{ id  }}</td>
				</tr>
			</thead>
		</table>
	</body>
</html>
